
<main>
  <div class="create-div">
    <h1>So many burgers, So little time</h1>
    <p>create a burger</p></div>
  <div class="left-right-div">
    <div class="left-div">eat a burger</div>
    <div class="right-div">eaten burgers</div>
  </div>
</main>