body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.create-div {
    margin: 0 auto;
    text-align: center;
}

.left-right-div {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    justify-content: space-around;
}

.left-div,
.right-div {
    background-color: lightgray;
    min-width: 48%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding-bottom: 1em;
    padding-top: 0.5em;
    border-radius: 0.25em;
}

input[type="text"] {
    min-width: 75%;
    overflow: scroll;
}